#track-ui{
    /* margin-left: auto;
    margin-right: auto; */
}

.eq-ui{
    display: flex;
    justify-content: space-evenly;
}

.track-info{
    display: flex;
    justify-content: space-between;
}

#controls{
    margin-left: 20%;
}